#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
   combos {
        compatible = "zmk,combos";

        v {
            bindings = <&kp V>;
            key-positions = <1 2>;
        };

        q {
            bindings = <&kp Q>;
            key-positions = <2 3>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <20 21>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp X  &kp C  &kp L  &kp F      &kp P        &kp K        &kp Y      &kp O      &kp U    &kp APOS
&kp R  &kp S  &kp N  &kp T      &kp B        &kp J        &kp H      &kp E      &kp I    &kp A
       &kp W  &kp M  &kp G                                &kp D      &kp COMMA  &kp DOT
                     &kp ENTER  &kp SPACE    &key_repeat  &sk RSHFT
            >;
        };
    };
};
